<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="skillResponseBuilder" class="com.jd.alpha.skill.builder.SkillResponseBuilder">-->
    <!--</bean>-->

    <!--<bean id="chuuNiByouHandler" class="com.jd.alpha.skill.handler.ChuuNiByouHandler">-->
        <!--<property name="skillResponseBuilder" ref="skillResponseBuilder"/>-->
    <!--</bean>-->

</beans>